.App {
  text-align: center;
  background-color: #fffaf0;
  min-height: 100vh;
  padding: 20px;
}

.App-header {
  padding: 20px;
  color: #495e57;
  background-color: #edefee;
  border-radius: 10px;
  margin-bottom: 30px;
}
